#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, Arial;
}

.buttons{
    padding: 10px 20px;
   font-size: 1.5 em;
   color: white;
   background-color: hsl(214, 100%, 74%);
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.25s ease; 

}
.buttons:hover{
    background-color: hsl(214, 100%, 60%);
}

#btnContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* .container_btn{
    display: flex;
    justify-content: center;
    gap: 20px;
} */